$text-default: #2c3e50;
$text-highlight: #F0A1A8;
$post-title-color: #C45A65; // 莓红
$sidebar-highlight: #F0A1A8; // 合欢红
$selection-bg: #F0C9CF; // 石蕊红

$ins-gradient: linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
$headband-bg: $ins-gradient;


$border-default: #e3e3e3;



$background-default: #f6f8fa;